
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background-color: rgb(30, 30, 75);
  color: white;
  font-family:'Roboto', sans-serif;
  margin: 20px;
}

.layout header{
  display: flex;
  padding: 15px;
  margin: 10px;
  justify-content: flex-end;
  margin-bottom: 70px;
}
.layout header h1{
  margin-right: auto;
  border-bottom: 5px solid rgb(251, 4, 140);
  padding: 5px;
}
nav a{
  text-decoration: none;
  color: white;
  margin: 25px;
  font-size: 20px;
  padding: 5px;
}
nav .active{
  background-color: rgb(251, 4, 140);
  border-radius:5px;
  transition: all 0.7s;
}
h2{
  padding: 5px;
  margin: 30px 7px;
}
p{
  line-height: 30px;
  padding: 10px;
  margin: 7px;
  text-indent: 100px;
}
.faq .question{
  max-width: 100%;
  margin:0px 50px ;
  padding:5px;
  background-color: rgb(5, 5, 42);
  border-radius: 5px;
  margin-bottom: 50px;
}
.faq p{
  margin: 0px 10px;
  padding: 10px 30px;
  margin-bottom: 15px;
}
.help-layout nav{
  text-align: center;
  margin: 50px;
}
form{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  justify-content: center;
}
.textarea{
  width: 300px;
  padding: 10px;
  margin: 10px;
  height: 100px;
  resize: vertical;
  border-radius: 5px;
}
input{
  margin: 10px;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
}
label{
  margin: 15px;
  align-items: start;
}
#button{
  width: 150px;
  margin-top: 50px;
  color: white;
  background-color: rgb(251, 4, 140);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family:'Roboto', sans-serif;
  font-size: 17px;
}
.notfound a{
  color: white;
  margin-left: 5px;
  font-size: 18px;
}
.careers > a{
  text-decoration: none;
  color: white;
  margin: 40px 70px;
  display: block;
  background: rgb(1, 4, 40);
  padding: 10px;
  border-radius: 5px;
} 
.careers a p:last-child{
  font-size: 15px;
}
.careers p{
  margin-left: -50px;
}
.careers > a p:first-child{
  font-size: 20px;
}
.careers > a p:hover {
  color:brown;

}
.cdetails{
  background-color: rgb(2, 2, 37);
  padding: 20px;
  border-radius: 5px;
  margin: 50px 50px;
}
.cdetails p:not(.details p){
  font-size: 22px;
}
.details p{

  margin: 10px 100px;
  font-size: 17px;
  line-height: 35px;
}
.error a {
  text-decoration: underline;
  color: white;
  font-size: 16px;
  margin-left: 15px;
}
.breadcrumbs{
  margin-left: 20px;
}
.crumb a{
  text-decoration: underline;
  color: white;
}
.crumb{
  display: inline-block;
  margin-right: 10px;
}

.breadcrumbs .crumb:after{
  content : ">";
  margin-left: 10px;
}
.breadcrumbs .crumb:last-child:after{
  display: none;
}
.err{
  margin: 30px 10px 0px 10px;
  font-size: 20px;
}
#nbutton{
  border: none;
  display: block;
  margin: auto;
  padding:10px;
  background-color: rgb(251, 4, 140);
  color: white;
  font-size: 17px;
  cursor: pointer;
}